[submodule "ninjam"]
	path = ninjam
	url = https://github.com/AndyMcProducer/ninjamplus.git
[submodule "third_party/rubberband"]
	path = third_party/rubberband
	url = https://github.com/breakfastquay/rubberband.git
